.navbar {
    overflow: hidden;
    border: 1px solid #4e5e57;
    position: absolute;
    top: 100px;
    left: 40px;
    color: #4e5e57;
    background-color: #fcfff0;
}

.navbar button {
    background-color: inherit;
    color: white;
    border: none;
    padding: 14px 16px;
    font-size: 16px;
    cursor: pointer;
    }
    
    .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    }
    
    .navbar li {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #4e5e57;
    }