html {
    height: 100%;
    width: 100%;
    background-color: #5A86AD;
    font-family: 'Courier Prime', monospace;
    color: #FDAA47;
}

h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 4em;
}

.container {
    height: 60vh;
    display: flex;
    justify-content: center;
	align-items: center;
}

.paper {
    height: 400px;
    width: 400px;
    background-color: #98a1c8;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
}

.paper img {
    height: 100%;
    width: 100%;
}

#menuBtn {
	background: none;
	border: none;
	width: 4rem;
	height: 4rem;
	top: 15px;
	position: absolute;
	left: 15px;
	font-size: 2rem;
	color: #C85A53;
}

#menuBtn:hover {
	cursor: pointer;
}

#arrowBtn {
	background: none;
	border: none;
	z-index: 2;
	position: fixed;
	right: 18rem;
	font-size: 3rem;
	color: #C85A53;
}

#arrowBtn:hover {
	cursor: pointer;
}

#leftBtn {
	background: none;
	border: none;
	z-index: 2;
	position: fixed;
	left: 18rem;
	font-size: 3rem;
	color: #C85A53;
}

#leftBtn:hover {
	cursor: pointer;
}